.fs-title {
    -fx-font-size: 24px;
}

.fs-label-padding {
    -fx-padding: 5px;
}

.fs-list-title {
    -fx-font-size: 18px;
    -fx-pref-width: 1180px;
    -fx-background-color: darkgrey;
}

.fs-list-title: hover {
    -fx-background-color: gray;
}

.fs-list-item {
    -fx-font-size: 14px;
    -fx-pref-width: 1180px;
}

.fs-list-item: hover {
    -fx-background-color: lightgray;
}

.fs-list {
    -fx-pref-width: 1180px;
    -fx-padding: 10px
}

.fs-list:empty {
    -fx-opacity: 0;
}

.fs-hidden{
    visibility: hidden;
}

.list-cell:empty {
    -fx-opacity: 0;
}