.fs-title {
    -fx-font-size: 24px;
}

.fs-label-padding {
    -fx-padding: 5px;
}

.fs-list-item {
    -fx-font-size: 14px;
    -fx-pref-width: 1180px;
}

.fs-list-item: hover {
    -fx-background-color: lightgray;
}

.fs-full-width {
    -fx-pref-width: 1200px;
}

.fs-list {
    -fx-pref-height: 500px;
    -fx-padding: 10px
}

.fs-grid {
    -fx-max-width: 350px;
    -fx-spacing: 10px;
}

.fs-custom-button {
	-fx-background-color: white;
	-fx-pref-height: 20px;
}

.fs-custom-button:hover {
	-fx-background-color: rgb(0, 122, 204) ;
}

.fs-infinity-width {
	-fx-pref-width: infinity;
}

.fs-button-box {
    -fx-alignment: center-right;
}

.fs-search-box {
    -fx-alignment: center-left;
    -fx-padding: 5px;
    -fx-spacing: 5px;
}

.fs-active {
    -fx-background-color: rgb(0, 122, 204) ;
}

.fs-active: hover {
    -fx-background-color: rgb(0, 122, 204) ;
}